<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Reservations</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>

<header>
    <h1>Reservations</h1>
    <p>For logged in user: {name}</p>
    <a href="/logout">Log out</a>
</header>

<h2>List of reservations</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Car ID</th>
        <th>Start day</th>
        <th>End day</th>
    </tr>
    </thead>
    {#for i in reservations}
        <tr>
        <td>{i.id}</td>
        <td>{i.carId}</td>
        <td>{i.startDay}</td>
        <td>{i.endDay}</td>
        </tr>
    {/for}
</table>

<h2>Available cars to rent</h2>
<form action="/reservations" method="get">
    <p>Start date:<input type="text" name="startDate" value="{startDate}"/></p>
    <p>End date:<input type="text" name="endDate" value="{endDate}"/></p>
    <input type="submit" value="Update list">
</form>


<table>
    <thead>
    <tr>
        <th>Car ID</th>
        <th>Plate number</th>
        <th>Manufacturer</th>
        <th>Model</th>
        <th>Reservation</th>
    </tr>
    </thead>
    {#for car in cars}
    <form action="/reservations/reserve" method="post">
        <input type="hidden" name="startDate" value="{startDate}"/>
        <input type="hidden" name="endDate" value="{endDate}"/>
        <input type="hidden" name="carId" value="{car.id}"/>
        <tr>
        <td>{car.id}</td>
        <td>{car.licensePlateNumber}</td>
        <td>{car.manufacturer}</td>
        <td>{car.model}</td>
        <td><input type="submit" value="Reserve"/></td>
        </tr>
        </form>

    {/for}
</table>


</body>
</html>
